parameters:
  level: 7
  paths:
    - src
    - tests
  excludes_analyse:
    - tests/resources
    - tests/Fixtures
includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - phpstan-baseline.neon
