<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" failOnRisky="true" failOnWarning="true" beStrictAboutChangesToGlobalState="true" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" verbose="true" executionOrder="random" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <!--
    The <php> element and its children can be used to configure PHP settings,
    constants, and global variables. It can also be used to prepend the include_path.
    -->
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <!--
    This element is the root for one or more <testsuite> elements that are used
    to configure the tests that are to be executed.
    -->
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/</directory>
      <exclude>./tests/Fixture/</exclude>
      <exclude>./tests/EndToEnd/</exclude>
      <exclude>./tests/resource/</exclude>
    </testsuite>
    <testsuite name="End to End">
      <directory>./tests/EndToEnd/</directory>
    </testsuite>
  </testsuites>
  <!--
    The <filter/whitelist> element and its children can be used to configure
    the whitelist for the code coverage reporting
    -->
</phpunit>
